{% extends '../layout/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{title}}</title>
</head>
<body>
      {% block content %}
            <div class="form-group">
                  <form action="" method="post">
                        {% csrf_token %}
                        
                        <!-- First Name input -->
                        <div class="form-outline mb-4">
                              <!-- <label class="form-label" for="form3Example3">First Name</label> -->
                              {{form.first_name.label_tag}}
                              {{form.first_name}}
                              <!-- <input type="text" name={{form.name.first_name}} id="id_first_name" class="form-control" /> -->
                              <!-- {{fm.label}}: {{fm}} -->
                              <!-- {{form.first_name.}} -->
                        </div>

                        <!-- Second Name input -->
                        <div class="form-outline mb-4">
                              <!-- <label class="form-label" for="form3Example3">First Name</label> -->
                              {{form.last_name.label_tag}}
                              {{form.last_name}}
                              <!-- <input type="text" name={{form.name.last_name}} id="id_last_name" class="form-control" /> -->
                              <!-- {{fm.label}}: {{fm}} -->
                              <!-- {{form.first_name.}} -->
                        </div>
                        
                        <!-- City input -->
                        <div class="form-outline mb-4">
                              <!-- <label class="form-label" for="form3Example3">First Name</label> -->
                              {{form.city.label_tag}}
                              {{form.city}}
                              <!-- <input type="text" name={{form.name.city}} id="id_city" class="form-control" /> -->
                              <!-- {{fm.label}}: {{fm}} -->
                              <!-- {{form.first_name.}} -->
                        </div>

                        <div class="form-outline mb-4">
                              {{form.zipcode.label_tag}}
                              {{form.zipcode}}
                        </div>

                        <div class="form-outline mb-4">
                              {{form.phoneno.label_tag}}
                              {{form.phoneno}}
                        </div>

                        <div class="form-outline mb-4">
                              {{form.bought_on.label_tag}}
                              {{form.bought_on}}
                        </div>

                        <div class="form-outline mb-4">
                              {{form.plan.label_tag}}
                              {{form.plan}}
                              
                        </div>
                        <!-- <input type="submit" value="Add Member"> -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">{{button}}</button>
                  </form>
            </div>
      {% endblock %}
</body>
</html>
