{% extends '../layout/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{title}}</title>
</head>
<body>
      {% block content %}
      <form action="" method="post">
            {% csrf_token %}
            {% for fm in form %}
                  {{fm.label}}: {{fm}} <br><br>
            {% endfor %}
            <!-- <input type="submit" value="Submit"> -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Add Plan</button>
      </form>
{% endblock %}
</body>
</html>