{% extends '../layout/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{title}}</title>

      {% block style %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      {% endblock %}
</head>

<body>
      {% block content %}
            <br><br><br>
            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
                  <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab"
                              aria-controls="ex1-tabs-1" aria-selected="true">Active Members</a>
                  </li>
                  <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab"
                              aria-controls="ex1-tabs-2" aria-selected="false">Expiring Member Plans</a>
                  </li>
                  <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-3" data-bs-toggle="tab" href="#ex1-tabs-3" role="tab"
                              aria-controls="ex1-tabs-3" aria-selected="false">All Members</a>
                  </li>
            </ul>
            <!-- Tabs navs -->
            
            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
                  <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                        <div class="data">
                              <h2>Active Members</h2>
                              <table class="table">
                                    <thead>
                                          <tr>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">City</th>
                                                <th scope="col">Zipcode</th>
                                                <th scope="col">Phone No.</th>
                                                <th scope="col">Plan</th>
                                                <th scope="col">Bought On</th>
                                                <th scope="col">Expires In</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
            
            
                                          </tr>
                                    </thead>
                                    <tbody>
                                          {% for item in members %}
                                          {% if item.expires_in > 7 %}
                                                <tr> 
                                                      <td> {{item.first_name}} </td>
                                                      <td> {{item.last_name}} </td>
                                                      <td> {{item.city}} </td>
                                                      <td> {{item.zipcode}} </td>
                                                      <td> {{item.phoneno}} </td>
                                                      <td> 
                                                            {% if item.plan.plan_name is none %}
                                                                  <p>PLAN DELETED</p>
                                                            {% else %}
                                                            {{item.plan.plan_name}}
                                                            {% endif %}       
                                                      </td>
                                                      <td> {{item.bought_on}} </td>
                                                      <td> {{item.expires_in}} </td>
                                                      <td> <a href="{% url 'gym_app:updateMember' item.member_id %}" > <button class="btn btn-light"><i class="fa-solid fa-pen-to-square"></i></button> </a> </td>
                                                      <!-- <td><a data-toggle="modal" href="#deleteModal" ><i class="fa-solid fa-trash"></i></a></td> -->
                                                      <!-- <td><button > <a href="{% url 'gym_app:updateMember' item.member_id %}"><i class="fa-solid fa-pen-to-square"></i></a> </button></td> -->
                                                      <td> <a href="{% url 'gym_app:deleteMember' item.member_id %}" ><button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button></a></td>
                                                </tr>
            
                                          {% endif %}
                                          {% endfor %}
                                    </tbody>
                              </table>
                        </div>
                  </div>
                  <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                        <div class="data">
                              <h2>Expiring Plans (Within 7 days)</h2>
                              <table class="table">
                                    <thead>
                                          <tr>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">City</th>
                                                <th scope="col">Zipcode</th>
                                                <th scope="col">Phone No.</th>
                                                <th scope="col">Plan</th>
                                                <th scope="col">Bought On</th>
                                                <th scope="col">Expires In</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
            
            
                                          </tr>
                                    </thead>
                                    <tbody>
                                          {% for item in members %}
                                          {% if item.expires_in <= 7 and item.expires_in >= 0  %}
                                                <tr> 
                                                      <td> {{item.first_name}} </td>
                                                      <td> {{item.last_name}} </td>
                                                      <td> {{item.city}} </td>
                                                      <td> {{item.zipcode}} </td>
                                                      <td> {{item.phoneno}} </td>
                                                      <td> 
                                                            {% if item.plan.plan_name is none %}
                                                                  <p>PLAN DELETED</p>
                                                            {% else %}
                                                            {{item.plan.plan_name}}
                                                            {% endif %}
                                                      </td>
                                                      <td> {{item.bought_on}} </td>
                                                      <td> {{item.expires_in}} </td>
                                                      <td> <a href="{% url 'gym_app:updateMember' item.member_id %}" > <button class="btn btn-light"><i class="fa-solid fa-pen-to-square"></i></button> </a> </td>
                                                      <!-- <td><a data-toggle="modal" href="#deleteModal" ><i class="fa-solid fa-trash"></i></a></td> -->
                                                      <!-- <td><button > <a href="{% url 'gym_app:updateMember' item.member_id %}"><i class="fa-solid fa-pen-to-square"></i></a> </button></td> -->
                                                      <td> <a href="{% url 'gym_app:deleteMember' item.member_id %}" ><button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button></a></td>
                                                </tr>
            
                                          {% endif %}
                                          {% endfor %}
                                    </tbody>
                              </table>
                        </div>
                  </div>
                  <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                        <div class="data">
                              <h2>All Members</h2>
                              <table class="table">
                                    <thead>
                                          <tr>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">City</th>
                                                <th scope="col">Zipcode</th>
                                                <th scope="col">Phone No.</th>
                                                <th scope="col">Plan</th>
                                                <th scope="col">Bought On</th>
                                                <th scope="col">Expires In</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
            
            
                                          </tr>
                                    </thead>
                                    <tbody>
                                          {% for item in members %}
                                                <tr> 
                                                      <td> {{item.first_name}} </td>
                                                      <td> {{item.last_name}} </td>
                                                      <td> {{item.city}} </td>
                                                      <td> {{item.zipcode}} </td>
                                                      <td> {{item.phoneno}} </td>
                                                      <td> {{item.plan.plan_name}} </td>
                                                      <td> {{item.bought_on}} </td>
                                                      <td> 
                                                            {% if item.expires_in < 0 %}
                                                                  EXPIRED
                                                            {% else %}
                                                                  {{item.expires_in}}
                                                            {% endif %}
                                                      </td>
                                                      <td> <a href="{% url 'gym_app:updateMember' item.member_id %}" > <button class="btn btn-light"><i class="fa-solid fa-pen-to-square"></i></button> </a> </td>
                                                      <!-- <td><a data-toggle="modal" href="#deleteModal" ><i class="fa-solid fa-trash"></i></a></td> -->
                                                      <!-- <td><button > <a href="{% url 'gym_app:updateMember' item.member_id %}"><i class="fa-solid fa-pen-to-square"></i></a> </button></td> -->
                                                      <td> <a href="{% url 'gym_app:deleteMember' item.member_id %}" ><button type="button" class="btn btn-light"><i class="fa-solid fa-trash"></i></button></a></td>
                                                </tr>
                                          {% endfor %}
                                    </tbody>
                              </table>
                        </div>
                  </div>
            </div>

            



      {% endblock %}
</body>
</html>