{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Admin Login</title>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

      <link rel="stylesheet" href="{% static 'gym_app/css/loginAdmin.min.css' %}">
</head>
<body class="body-login">
      {{context}}
      {{message}}
      <br><br><br><br><br>
      <div class="post-form">
            <form method="post">
                  {% csrf_token %}
                  <div class="input-group">
                        <span class="input-group-text">Email</span>
                        <input type="text" name="email" class="form-control" required>
                  </div><br>
                  <div class="input-group">
                        <span class="input-group-text">Password</span>
                        <input type="password" name="password" class="form-control" required>
                  </div><br>
                  <!-- <input type="submit"><br> -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                  <br>
                  <span>Don't Have an Account?</span><a  href="{% url 'gym_app:registerAdmin' %}">Sign Up</a>
            </form>
      </div>
</body>
</html>