{% extends '../layout/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{title}}</title>

      {%block style%}
      <link rel="stylesheet" href="{% static 'gym_app/css/plan.min.css' %}">
      {% endblock %}
</head>
<body>

      {% block content %}
      <br><br><br><br>
      {% for plan in plans %}
      <div class="columns">
            <ul class="price">
                  <li class="header">{{plan.plan_name}}</li>
                  <li class="grey">$ {{plan.price}} for {{ plan.duration }} days</li>
                  <p> {{plan.description}} </p>
                  <li class="grey">
                        <a href="{% url 'gym_app:updatePlan' plan.plan_id %}" class="buttonEdit">Edit Plan</a>
                        <a href="{% url 'gym_app:deletePlan' plan.plan_id %}" class="buttonDelete">Delete Plan</a>
                  </li>
            </ul>
      </div>
      {% endfor %}
      {% endblock %}
</body>
</html>