{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Register Admin</title>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'gym_app/css/registerAdmin.min.css' %}">
</head>
<body class="body-login">
      <div class="post-form">

            <form method="post">
                  {% csrf_token %}
                  {% for fm in form %}
                        <div class="input-group">
                              <span class="input-group-text">{{fm.label}}</span> {{fm}} <br><br>
                        </div><br>
                  {% endfor %}

                  {% if errors is not none %}
                        {% for error in errors %}
                              <p>{{ error }}</p>
                        {% endfor %}
                  {% endif %}
                  <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>
                  <br>
                  <span>Already Have an Account?</span><a href="{% url 'gym_app:home' %}">Sign In</a>
            </form>
            {% if form.errors %}
                  {% for field in form %}
                        {% for error in field.errors %}
                              <p> {{ error }} </p>
                        {% endfor %}
                  {% endfor %}
            {% endif %}
      </div>
</body>
</html>