<!-- Form of addMember -->
<form action="" method="post">
      {% csrf_token %}
      <div class="form-outline mb-4">

            {% for fm in form %}
            <span class="form-label">{{fm.label}}:</span> {{fm}}
            {% endfor %}
            <!-- <input type="submit" value="Submit"> -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Add Member</button>
      </div>

      <select name={{form.plan.name}} id={{form.plan.auto_id}} class="custom-select custom-select-lg mb-3">
                                          
            {% for p in plans %}
            <option value={{p.plan_id}} > {{p.plan_name}} </option>
            {% endfor %}
            
      
</select>
</form>