{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{title}}</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

      {% block style %}{% endblock %}

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
      
</head>
<body>
      {% block header %}
            {% include './header.html' %}
      {% endblock %}

      <div class="container">
            <div class="row">

                  <div class="col-lg">

                        {% block content %}
                              This is content
                        {% endblock %}
                        <br><br><br><br>                        
                  </div>

                  <br><br><br><br>

                  <div class="row">
                        {% block footer %}
                              {% include './footer.html' with date="23 Nov 2022" var=1234%}
                        {% endblock %}
                  </div>
            </div>
      </div>
</body>
</html>