<nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'gym_app:home' %}">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'gym_app:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gym_app:addMember' %}">Add Member</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gym_app:plans' %}">Membership Plans</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gym_app:addPlan' %}">Add Plans</a>
            </li>
          </ul>
          <!-- <button>
            <a class="button" href="{% url 'gym_app:logout' %}">Logout</a>
          </button> -->
          <a class="nav-link" href="{% url 'gym_app:logout' %}">Logout</a>
        </div>
      </div>
    </nav>