* {
      box-sizing: border-box;
    }
    
    .columns {
      float: left;
      width: 33.3%;
      padding: 8px;
    }

    .price {
      list-style-type: none;
      border: 1px solid #eee;
      margin: 0;
      padding: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s;

      .header {
        background-color: #111;
        color: white;
        font-size: 25px;
      }
        li {
          border-bottom: 1px solid #eee;
          padding: 20px;
          text-align: center;
      }
  
      .grey {
        background-color: #eee;
        font-size: 20px;
      }
      p {
          width: 413px;
          height: 150px;
          overflow-y: scroll;
      }
      .buttonEdit {
          background-color: #04AA6D;
          border: none;
          color: white;
          padding: 10px 25px;
          text-align: center;
          text-decoration: none;
          font-size: 18px;
      }

      .buttonDelete {
        background-color: #ce4545fa;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
    }
    }

    .price:hover {
      box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    }

    @media only screen and (max-width: 600px) {
      .columns {
        width: 100%;
      }
    }