.body-login{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.post-form{
      position: relative;
      width: 600px;
      height: 300px;
      padding: 30px 30px 60px 30px;
}